
HorrorSurvival/Library/

HorrorSurvival/[Ll]ogs/

HorrorSurvival/[Tt]emp/

HorrorSurvival/[Oo]bj/

HorrorSurvival/[Bb]uild/

HorrorSurvival/[Bb]uilds/

HorrorSurvival/[Uu]ser[Ss]ettings/

HorrorSurvival/[Mm]emoryCaptures/

HorrorSurvival/[Rr]ecordings/

HorrorSurvival/.vs/HorrorSurvival/v17/.suo
